.footer {
  background: #6278f7;
  color: #fff;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("O:/repositorio/React/organo/organo/public/imagens/fundo.png");
  background-repeat: no-repeat;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}
